/*// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.pages-welcome .navbar {
  background: transparent;
}
.home-banner {
  height: 600px;
  margin-top: -80px;
}
